.SwapPageCointainer {
  background: linear-gradient(
    180deg,
    rgba(0, 220, 159, 0.3) 34.7%,
    rgba(188, 44, 216, 0.06) 100%
  );
  /* width: 80%;
  height: 70%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
  /*  left: 5em;
  bottom: 0; */
  /* margin-left: 8em; */
  top: 0.5em;
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 15px #2af6ff;
}
.SwapPageCointainer1 {
  background: linear-gradient(
    180deg,
    rgba(0, 220, 159, 0.3) 34.7%,
    rgba(188, 44, 216, 0.06) 100%
  );
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-top: -1em;
  bottom: 0; */
  margin-left: 13em;
  backdrop-filter: blur(10px);
}
/* SwapPage BagroundCointainer */

.ParentCointainer {
  /* background: red; */
  width: 90%;
  height: 110%;
  background: url(/SwapBackGround.svg);
  background-repeat: no-repeat;
  background-size: 40em, 40em;
}
/* fund page Buy PopUp input field */
.input {
  border: none;
  border-bottom: 1px dashed #ffffff;
  padding: 5px 10px;
  outline: none;
  width: 70%;
  background: transparent;
}
[placeholder]:focus::-webkit-input-placeholder {
  /* transition: text-indent 0.4s 0.4s ease;  */
  /* text-indent: -100%; */
  opacity: 1;
}
.swapinput::-webkit-input-placeholder {
  font-size: 13px;
}
.swapinput {
  width: 20%;
  border: 1px solid #97fbff;
  background-color: #28882b;
  border-radius: 5px;
  padding: 5px;
  margin-right: 2px;
}
.swapinput:hover {
  background-color: #165a19;
}
.swapinput1 {
  width: 20%;
  border: 1px solid #97fbff;
  background-color: #649e37;
  border-radius: 5px;
  padding: 5px;
  margin-right: 2px;
}
.swapinput1:hover {
  background-color: #50871c;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
